<mat-toolbar color="primary">
  <!-- Header -->
  <img src="../assets/header-icon.png" alt="Header Icon" height="32" width="32"/>
  <span style="margin-left: 15px">{{title}}</span>

  <!-- This fills the remaining space of the current row -->
  <span class="fill-remaining-space"></span>

  <!-- Navigation for desktop resolution -->
  <div fxShow="true" fxHide.lt-md="true">
    <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a>
    <a mat-button routerLink="/history" routerLinkActive="active">History</a>
    <a mat-button routerLink="/config" routerLinkActive="active">Config</a>
  </div>

  <!-- Navigation for smaller resolutions  -->
  <div fxShow="true" fxHide.gt-sm="true">
    <mat-menu #appMenu="matMenu">
      <a mat-button routerLink="/dashboard" routerLinkActive="active">Dashboard</a><br/>
      <a mat-button routerLink="/history" routerLinkActive="active">History</a><br/>
      <a mat-button routerLink="/config" routerLinkActive="active">Config</a>
    </mat-menu>

    <button mat-icon-button [matMenuTriggerFor]="appMenu">
      <mat-icon>more_vert</mat-icon>
    </button>
  </div>
</mat-toolbar>

<!-- Routed components go here -->
<router-outlet></router-outlet>
